.Alert {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 100px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0,0,0,.7);
}

.Alert .ImageCard img {
    height: 100%;
}

.Alert .cardText {
    font-size: 12px;
    line-height: normal;
    position: static;
}

.Alert h3 {
    font-family:'Aldrich','arial','sans-serif';
    font-size: 24px;
    margin: 0 20px;
    text-transform: uppercase;
    color: white;
}

.Alert button:hover {
    opacity: .75;
}